.netbeans_automatic_build

/extract-jsessionid.mp4
/apps/the-casino/casino-ejb/target/
/apps/the-casino/essential/target/
/apps/the-casino/history/target/
/apps/the-casino/history-control/target/
/apps/the-casino/history-control-rest/target/
/apps/the-casino/integration-tests/target/
/apps/the-casino/monitor/target/
/apps/the-casino/monitor-control/target/
/apps/the-casino/monitor-control-rest/target/
/apps/the-casino/websocket-listeners/target/
/apps/the-casino/web-face/target/
/apps/the-casino/strategies-service/target/
/apps/the-casino/strategies/target/
/apps/the-casino/scrapers/target/
/apps/the-casino/roulette-statistics/target/
/apps/the-casino/observer-service/target/
/apps/the-casino/observer/target/
/apps/the-casino/casino-ear/target/casino-ear-1.0.ear
/apps/the-casino/target/
/apps/the-casino/casino-ear/target/
.~lock.*
