.netbeans_automatic_build
.~lock.*

/extract-jsessionid.mp4

# Java target directories
/apps/casino/casino-ejb/target/
/apps/casino/essential/target/
/apps/casino/history/target/
/apps/casino/history-control/target/
/apps/casino/history-control-rest/target/
/apps/casino/integration-tests/target/
/apps/casino/monitor/target/
/apps/casino/monitor-control/target/
/apps/casino/monitor-control-rest/target/
/apps/casino/websocket-listeners/target/
/apps/casino/web-face/target/
/apps/casino/strategies-service/target/
/apps/casino/strategies/target/
/apps/casino/scrapers/target/
/apps/casino/roulette-statistics/target/
/apps/casino/observer-service/target/
/apps/casino/observer/target/
/apps/casino/casino-ear/target/casino-ear-1.0.ear
/apps/casino/target/
/apps/casino/casino-ear/target/

# Java binary files
*.jar
*.war
*.ear
*.class

